/*-- scss:defaults --*/

.white {
  color: white;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

// shade around the code chunk box.
.reveal div.sourceCode {
  box-shadow: 0 15px 30px rgba(#89CFF0, 0.8);
}

// inverse.
.inverse {
  color: #fff;
  h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
  }
  
  a {
    color: #bed3ec;
  }
  
  a:hover {
    color: #bed3ec;
  }
  
  .slide-background-content {
    background-color: #282a36;
  }
  
}

// your turn exercise slide style.
.your-turn {
  color: #36454F;
  h1, h2, h3 {
    color: #36454F;
    font-size: 2.5em;
  }

  a {
    color: #f1fa8c;
  }
  
  a:hover {
    color: #d8e17e;
  }
  
  .slide-background-content {
    background-color: azure;
  }
  
}